/* Start Variables */
:root {
  --main-color: #f46e6f;
}
/* End Variables */

/* Glebal Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
}

.dashboard .dashboard-sections .title {
  font-size: 16px;
  color: #2d3355;
  margin: 50px 0;
}

.dashboard_item_content .engagement .state {
  margin: 20px 0 14px 0;
}
.dashboard_item_content .fas {
  color: rgb(0, 173, 0);
  padding-right: 6px;
  background-color: rgb(255, 255, 255);
}
.dashboard_item_content p {
  color: #7b7b7b;
  line-height: 2.4;
}


/* Glebal Rules */
