/* Start Variables */
:root {
  --main-color: #f46e6f;
}
/* End Variables */

/* Glebal Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
}



/* Glebal Rules */
